#{extends 'main.html' /}
#{set title:'ePlay Auctions -- Create a new Item Listing' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/style.css'}" media="print" />
#{/set}

<div id="content">
  <h1>${item.title}</h1>
	#{if item.photo.exists()}
		<img src="@@{Application.showImage(item.id)}" alt="${item.title} image" />
	#{/if}
  <p class="field">
    <label>Start Bid:</label>${item.startBid}
  </p>
  #{if item.buyNowEnabled}
  <p class="field">
    <label>Buy Now Price:</label>${item.buyNowPrice}
  </p>
  #{/if}
  <p class="field">
    <label>Auction Ends:</label>${item.endDate.until()}
  </p>
  <p class="field">
    <label>Delivery Charges:</label>${item.deliveryCost}
  </p>
  <p class="field">
    <label>Item Description:</label>&nbsp;
  </p>
  <p class="field">
    ${item.description}
  </p>
</div>
